.container {
  margin-top: 2.7rem;
  text-align: center;
}

.review-card {
  display: flex;
  gap: 1rem;
  padding: 2rem 0rem;
  text-align: left;
  margin: 0 auto;
  margin-top: 1rem;
  width: 70%;
  height:100%;
}

.image-card{
  position:relative;
}

.image-card img{
  width:20rem;
  max-height: 20rem;
  object-fit: cover;
}

.bottom-left {
  position: absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  width:3rem;
  height:3rem;

  border-radius: 2rem;
  top: 0.7rem;
  /*bottom: 1rem;*/
  left: 0.7rem;
  background-color:white;

  font-size:1.4rem;
  font-weight: 600;
}


.text-card{
  display:flex;
  flex-direction: column;
}

button {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.content{
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



@media screen and (max-width: 1290px) {

  .review-card {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {

  .review-card {
    width: 85%;
    flex-direction: column;
    justify-content:center;
  }
}
