<div class="header">
  <h1 class="external">CATALOGO VIDEOGIOCHI</h1>
  <h2>Esplora il catalogo completo dei giochi da noi recensiti. Buon divertimento!</h2>
</div>
<div class="filter-container">
  <button mat-fab extended color="primary" value="alphabeticalAZ" (click)="orderByAZ()">
    <mat-icon>sort_by_alpha</mat-icon>
    Alfabetico A-Z
  </button>
  <button mat-fab extended color="primary" value="alphabeticalZA" (click)="orderByZA()">
    <mat-icon>sort_by_alpha</mat-icon>
    Alfabetico Z-A
  </button>
  <button mat-fab extended color="primary" value="releaseDateMinMax" (click)="orderByDateMaxMin()">
    <mat-icon>arrow_upward</mat-icon>
    Data rilascio
  </button>
  <button mat-fab extended color="primary" value="releaseDateMaxMin" (click)="orderByDateMinMax()">
    Data rilascio
    <mat-icon>arrow_downward</mat-icon>
  </button>
</div>

<div class="container">
  <div class="card" *ngFor="let videogame of videogames">

      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>{{videogame.title}}</mat-card-title>
          <mat-card-subtitle>{{videogame.softwareHouse}} | {{ videogame.category }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="image-container">
        <img [src]="videogame.coverImage" onerror="this.src='assets/images/sad.png';">
          <h3>Dettaglio:</h3>
          <div class="dettagli">
            <p> Genere: {{ videogame.genre }}</p>
            <p> Autore: {{ videogame.publisher }}</p>
            <p> Produttore: {{ videogame.softwareHouse }}</p>
            <p> Players: {{ videogame.numberOfPlayers }}</p>
            <p> Data rilascio: {{ videogame.releaseDate }}</p>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
</div>


