<div class="header">
  <h1 class="external">CATALOGO VIDEOGIOCHI</h1>
  <h2>Esplora il catalogo completo dei giochi da noi recensiti. Buon divertimento!</h2>
</div>
<div class="filter-container">
  <button mat-fab extended color="primary" value="alphabeticalAZ" (click)="orderByAZ()">
    <mat-icon>sort_by_alpha</mat-icon>
    Alfabetico A-Z
  </button>
  <button mat-fab extended color="primary" value="alphabeticalZA" (click)="orderByZA()">
    <mat-icon>sort_by_alpha</mat-icon>
    Alfabetico Z-A
  </button>
  <button mat-fab extended color="primary" value="releaseDateMinMax" (click)="orderByDateMaxMin()">
    <mat-icon>arrow_upward</mat-icon>
    Data rilascio
  </button>
  <button mat-fab extended color="primary" value="releaseDateMaxMin" (click)="orderByDateMinMax()">
    Data rilascio
    <mat-icon>arrow_downward</mat-icon>
  </button>
</div>
<div class="search-box">
  <input type="text"
    class="input-search"
    placeholder="Search for videogames..."
    [formControl]="searchText"
  />
</div>

<div class="container">
  <div class="card" *ngFor="let videogame of videogames; let i = index">

      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>{{videogame.title}}</mat-card-title>
          <mat-card-subtitle>{{videogame.softwareHouse}} | {{ videogame.category }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="image-container">
        <img [src]="videogame.coverImage" onerror="this.src='assets/images/sad.png';">
          <div *ngIf="!areLanguagesShown[i]">
            <h3>Dettaglio:</h3>
            <div class="dettagli">
              <p> Genere: {{ videogame.genre }}</p>
              <p> Autore: {{ videogame.publisher }}</p>
              <p> Produttore: {{ videogame.softwareHouse }}</p>
              <p> Players: {{ videogame.numberOfPlayers }}</p>
              <p> Release: {{ videogame.releaseDate }}</p>
              <button matTooltip="Clicca per visualizzare le lingue" class="swapCard" color="basic" mat-button (click)="showLanguages(i);">
                <span>Languages<mat-icon >arrow_right_alt</mat-icon></span>
              </button>
            </div>
          </div>

          <div *ngIf="areLanguagesShown[i]">
          <!-- Show when languages button is clicked-->
            <h3>Lingue:</h3>
            <div class="container-languages">

              <p> Voice: <span *ngFor="let voice of videogame.languages.voice">| {{voice}} </span></p>
              <p> Text: <span *ngFor="let text of videogame.languages.text">| {{text}} </span></p>

              <button matTooltip="Clicca per visualizzare le lingue" class="swapCard" id="backSwap" color="basic" mat-button (click)="showLanguages(i);">
                <span><mat-icon>arrow_left_alt</mat-icon>Dettaglio</span>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
</div>


