@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  --background: rgba(0, 128, 128, 0.514);
  background-color: var(--background);
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 999;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  /* border-radius: 2rem; */
}

.nav-toggle {
  display: none;
}


/* ######## LOGO ####### */
h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  color: black;
  margin-top: 1rem;
  margin-left: 1rem;
}
header a {
  text-decoration: none;
}
.logo-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .logo{
  border: red solid 1px;
} */

/* ######################## */

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: var(--background);
  width: 100%;
  /* display: none; */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 1rem;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out ;
}

nav a:hover {
  color: yellow;
}

.nav-toggle:checked ~ nav {
  /* display: block; */
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms ;
}

.logo{
    width: 5rem;
    height: 2rem;
}

/* ###################### RESPONSIVENESS ############################ */

@media screen and (min-width: 800px) {

    .nav-toggle-label{
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px 1f) 1fr;
        /* grid-template-columns: repeat(7, 1fr);  */
    }

    .search{
        display: flex;
        flex-wrap: nowrap;
    }

    .logo-div{
        grid-column: 2 / 3;
      }

    nav{
        all:unset;
        grid-column: 3 / 4;
        padding-right: 15rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
    nav ul {
        display: flex;
        justify-content: left;
        /* border: 1px solid red; */
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        bottom: -.25em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before{
        transform: scale(1,1);
    }
}