/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
} */

.header {
  --background: white;
  background-color: var(--background);
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
  /* border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; */
  /* border-radius: 2rem; */
}


img{
height: 4rem;
position: absolute;
left: 15%;
top: 0;
}

.nav-toggle {
  display: none;
}

/* ######## LOGO ####### */
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
  color: black;
  margin-top: 1rem;
  margin-left: -8rem;
}
.header a {
  text-decoration: none;
}
.logo-div a {
padding: 0;
margin: 0;
}

.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;

}
/* .logo{
  border: red solid 1px;
} */

/* ######################## */

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: var(--background);
  width: 100%;
  /* display: none; */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 1rem;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: rgb(141, 44, 136)(255, 0, 242);
}

.nav-toggle:checked ~ .header {
  background-color:white;

}

.nav-toggle:checked ~ nav {
  /* display: block; */
  transform: scale(1, 1);
  background-color: white;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;

}

.logo {
  width: 5rem;
  height: 2rem;
}

/* ###################### RESPONSIVENESS ############################ */

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px 1f) 1fr;
    /* grid-template-columns: repeat(7, 1fr);  */
  }

  .search {
    display: flex;
    flex-wrap: nowrap;
  }

  .logo-div {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    padding-right: 15rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav ul {
    display: flex;
    justify-content: left;
    align-items: center;
    /* border: 1px solid red; */
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    bottom: -0.25em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  .listone {
    position: absolute;
    right: -1rem;
    margin-right: 10rem;
  }

  .listone a:hover{
    font-weight: bolder;
  }

  .list-group-item a {
    /* display: -webkit-box; */
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    justify-content: baseline;
    /* border: 1px red solid; */
    border-bottom: 2px black dotted;

    /* background-color: rgba(63, 63, 63, 0.829); */
    color: black;
    padding: 0.1rem;
    text-transform: initial;
  }

}

/* ######## src ########### */

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 3rem;
  width: 3rem;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  /* background-color: #22a7b3a8; */
  background-color: transparent;
  padding-right: 40px;
  color: black;
  margin-bottom: 1rem;
}
.input-search::placeholder {
  color: rgba(0, 0, 0, 0.750);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 2rem;
  height: 2rem;
  border-style: none;
  font-size: 10px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  /* border-radius: 50%; */
  position: absolute;
  right: 0px;
  color: #000000;
  background-color: transparent;
  pointer-events: painted;
  margin-top: 0.8rem;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.750);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  /* margin-bottom: -5px; */
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.listone li{
  padding-right: 2rem;
  padding-bottom: .1rem;
}
.listone {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  width: 300px;
  background-color: #ffffffc0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.list-group-item {
  display: inline-block;
  flex-direction: column;
  max-width: 500px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  justify-content: baseline;


}
.list-group-item a {
  display: -webkit-box;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  justify-content: baseline;
}

.search-box li {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1400px) {
  img{
    height: 5rem;    
    position: relative;
    margin: 0 auto;
    float: left;  
}
}