.generalContainer{
  /* background-color: #191919; */
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


/* ############## hero display grid ###################### */
.containerBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 15%;
    margin-right: 15%;

}

.news {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.news img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;

}

.news img:hover{
  opacity: 0.80;
}

.newscontainer{
  margin-bottom: -0.5rem;
}

.news{
  opacity: 1;
  margin: auto;
}

.news:hover{
  cursor: pointer;
}

.news1 {
    grid-area: 1 / 1 / 4 / 4;
    /* background-color: green; */
  }
  .news2 {
    grid-area: 1 / 4 / 2 / 5;
    /* background-color: red; */


  }
  .news3 {
    grid-area: 2 / 4 / 3 / 5;
    /* background-color: rosybrown; */


}
  .news4 {
    grid-area: 3 / 4 / 4 / 5;
    /* background-color: salmon; */


  }

  .news1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  .news2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  .news3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  .news4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.newscontainer {
    position: relative;
    text-align: center;
    color: white;
  }


  /* ########### Inside image positioning ############### */

.bottom-left1 h2{
  font-size: 2rem;
}

.bottom-left h2{
  font-size: 1rem;
  line-height: 1.3rem
}

.bottom-left p{
  font-size:0.8rem;
}

  .bottom-left1 {
    position: absolute;
    bottom: 0rem;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.86));
    padding: 2rem;
    padding-top: 3rem;
    text-align: left;
    font-size: 1.1rem;
    width:100%;
  }

  .date1 {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: black;
    padding: 0.3rem 0.7rem!important;
}

  .bottom-left p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    justify-content: baseline;
  }

  .bottom-left {
    position: absolute;
    bottom: 0rem;
    background: linear-gradient(rgba(0, 0, 0, 0.12), black);
    padding: 1rem;
    text-align: left;
    font-size: 1.1rem;
    width:100%;
  }

  .date {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 0.2rem 0.7rem;
    border-radius: 4px;
}

/* ############### RESPONSIVENESS ################ */

@media screen and (max-width: 1200px) {

  .containerBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 2rem;
}

.bottom-left1 {
  position: absolute;
  font-size: 0.8rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  background-color: rgba(0, 0, 0, 0.527);
  padding: .5rem;
  text-align: left;
}

.bottom-left {
  position: absolute;
  font-size: 0.8rem;
  /* top: 10vh;
  bottom: 10vh;
  left: 1rem;
  right: 1rem; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.527);
  padding: .5rem;
  text-align: left;
  height: fit-content;
  width: 90%;
}

.news2{
  height: 30vh;
}

.news3{
  height: 30vh;
}

.news4{
  height: 30vh;
}

.news2 img{
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: cover;
}




}


.first{
  
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    justify-content: baseline;
  
}