.header{
  margin: 0 auto;
  margin-top: 7rem;
  width:70%;
}


 .container{
  display:flex;
  justify-content: center;

  flex-wrap:wrap;
  width:70%;
  margin: 0 auto;
  background-color: #ffffff;
  margin-bottom: 4rem;
}

.image-container {
  text-align: center;
  width:66%;
}

img{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.details{
  border: 0.1rem solid #e6e6e6;
  padding: 1.2rem;
  width:33%;
  word-wrap: break-word;
  text-align:center;
}

.score {
  display:flex;
  align-items: center;
  justify-content: center;
  width:6rem;
  height:6rem;

  border: 0.2rem solid black;
  border-radius: 6rem;

  font-size:2rem;
  font-weight: 600;

  margin: 1.4rem auto;

}


.details h2{
  font-size:2.3rem;
}

.content{
  margin-top: 2rem;
  font-size: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1200px) {
  .container{
    width:80%;
  }

  .details{
    width:100%;
  }

  .image-container {
    text-align: center;
    width:100%;
  }
}

@media screen and (max-width: 900px) {

  .header{
    width:95%;
  }
  .container{
    flex-direction: column;
    width:95%;
  }

  .details{
    width:100%;
  }

  .image-container {
    text-align: center;
    width:100%;
  }
}


/* oooooooooooooooooooooooooooooooooooooo */


.carosello{
  width: 800px;
}


