.container {
  margin-top: 80vh;
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5rem;
}

.separator {
  max-width: 30rem;
  margin-left: 0;
  margin-bottom: 2rem;
}

.separator2{
    margin-bottom: 2rem;
    margin-top: 2rem;

}

p{
    line-height: 2rem;
    font-size: 1.3rem;
  white-space: pre-wrap;
}

.author{
    font-style: italic;
}

