
  <ng-container
    *ngIf="review$ | async as review"
  >
    <div class="container">
  <carousel [interval]="3000" [isAnimated]="true" [showIndicators]="false" class="caroselloDetail">
      <ng-container *ngFor="let reviews of review.imageUrls" class="">
        <slide class="slide">
              <div class="image-container" >
                <img [src]="reviews" onerror="this.src='assets/images/imgcomingsoon.webp'" [alt]="review.title" />
              </div>
        </slide>
      </ng-container>

    </carousel>
    </div>
  </ng-container>

