/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


html, body { height: 100%; }
body { margin:  auto; font-family: Roboto, "Helvetica Neue", sans-serif;
color: black;
background-color: white; }

:root {
    font-family: "Roboto", sans-serif;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

.stars-line{
  justify-content: center!important;
  margin-top:1.5rem;
}
