<div class="footer">
  <div class="footer-content">
    <div>
      <img src="assets/images/logoUniversoGames2.png">
    </div>
    <div class="about">
      <p>Benvenuti su UniversoGames! Siamo un team di appassionati con una profonda conoscenza dei giochi, delle console e dell'industria dei videogame in generale.
        Ci impegniamo a fornire informazioni accurate e aggiornate sui giochi, le console e il mondo del gaming. Abbiamo una vasta gamma di contenuti, tra cui recensioni, notizie, guide, e molto altro.</p>
    </div>
    <!-- <div>
      <ul class="socials">
        <li><a href="#"><i class="icon1"></i></a></li>
        <li><a href="#"><i class="icon2"></i></a></li>
        <li><a href="#"><i class="icon3"></i></a></li>
        <li><a href="#"><i class="icon4"></i></a></li>
        <li><a href="#"><i class="icon5"></i></a></li>
      </ul>
    </div> -->
  </div>
  <div class="footer-bottom">
      <p>copyright © <a href="#">UniversoGames</a>  </p>
  </div>

</div>